<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title><%= @profile['title'] || @profile['username'] %></title>
		<meta property="og:title" content="<%= @profile['title'] || @profile['username'] %>" />
		<meta property="og:url" content="https://teatr.ee/u/<%= @profile['username'] %>" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="" />
		<style>
			body {
        :root {
          --colour: #244855;
          --bg-colour: floralwhite;
        }

	      font-family: 'Helvetica', 'Arial', sans-serif;

				<% if @profile['colour'] %>
					color: <%= @profile['colour'] %>;
				<% else %>
					color: var(--colour);
				<% end %>

				<% if @profile['bg_colour'] %>
					background-color: <%= @profile['bg_colour'] %>;
				<% else %>
					background-color: var(--bg-colour);
				<% end %>
			}

      h1 {
        font-size: 1.25rem;
      }

      a {
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        width: 100%;
        height: 2rem;
        line-height: 2rem;
        padding: 0 1.25rem;
        box-sizing: border-box;
        border-radius: 0.25rem;
        margin: 0.675rem 0;
      }

			a, a:visited {
				<% if @profile['colour'] %>
					color: <%= @profile['colour'] %>;
					border: 2px solid <%= @profile['colour'] %>;
				<% else %>
					color: var(--colour);
					border: 2px solid var(--colour);
				<% end %>
			}

			a:hover {
				<% if @profile['bg_colour'] %>
					color: <%= @profile['bg_colour'] %>;
				<% else %>
					color: var(--bg-colour);
				<% end %>

				<% if @profile['colour'] %>
					background-color: <%= @profile['colour'] %>;
				<% else %>
					background-color: var(--colour);
				<% end %>
			}

      ul {
        padding-left: 0;
      }

      li {
        list-style-type: none;
      }

			input {
				<% if @profile['colour'] %>
					border: 2px solid <%= @profile['colour'] %>;
				<% else %>
					border: 2px solid var(--colour);
				<% end %>

				border-radius: 0.25rem;
				height: 2rem;
				box-sizing: border-box;
			}

			button {
				<% if @profile['colour'] %>
					background-color: <%= @profile['colour'] %>;
					border: 2px solid <%= @profile['colour'] %>;
				<% else %>
					background-color: var(--colour);
					border: 2px solid var(--colour);
				<% end %>

				<% if @profile['bg_colour'] %>
					color: <%= @profile['bg_colour'] %>;
				<% else %>
					color: var(--bg-colour);
				<% end %>

				border-radius: 0.25rem;
				height: 2rem;
			}

      .inner {
        padding-top: 2.5rem;
        width: min(80%, 30rem);
        margin: auto;
        text-align: center;
      }

      #profile-image {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        object-fit: cover;
      }

			/* user-defined css */

			<%= @profile['css'] %>
		</style>
	</head>
	<body>
		<div class="inner">
			<% if @profile['image_url'] %>
				<img
					id="profile-image"
					src="/<%= @profile['image_url']%>"
					alt="<%= @profile['image_alt'] %>"
				/>
			<% else %>
				<img
					id="profile-image"
					src="/assets/profile-default.jpg"
					alt="A placeholder for the profile image."
				/>
			<% end %>
			<h1>
				<%= @profile['title'] || @profile['username'] %>
			</h1>
			<ul>
				<% for link in @links %>
					<li>
						<a class="link" href="<%= link['href'] %>" target="_blank"><%= link['title'] %></a>
					</li>
				<% end %>
			</ul>
      <% if @integration['mailchimp_subscribe_url'] %>
				<form
					action="<%= @integration['mailchimp_subscribe_url'] %>"
					method="post"
					target="_blank"
				>
					<input
						type="email"
						name="EMAIL"
						value=""
						placeholder="Subscribe to my mailing list!"
						required
					/>
					<button type="submit">Subscribe</button>
				</form>
			<% end %>
		</div>
	</body>
</html>
